<script>
	import LoginButton from "./components/LoginButton.svelte";
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Inca Firebase Exercises</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarColor01"
			aria-controls="navbarColor01"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon" />
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/logs">Logs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/researcher">Researcher</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin">Admin</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li> -->
				<!-- <li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"
						href="#"
						role="button"
						aria-haspopup="true"
						aria-expanded="false">Dropdown</a
					>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a
						>
						<div class="dropdown-divider" />
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li> -->
			</ul>
			<LoginButton />
		</div>
	</div>
</nav>
<!-- <nav>
	<a href="/">home</a>
	<a href="/logs">logs</a>
</nav> -->

<slot />
