<script>
    import { auth } from "../lib/firebase/firebase";
    import { db } from "../lib/firebase/firebase";
    import { addDoc, collection, serverTimestamp } from "firebase/firestore";

    let firebaseUser = null;

    auth.onAuthStateChanged((user) => {
        if (user) {
            firebaseUser = user;
        } else {
            // User is signed out.
        }
    });

    function handleClick(buttonId) {
        const now = new Date();
        addDoc(collection(db, "prueba"), {
            date: now.toLocaleDateString(),
            time: now.toLocaleTimeString(),
            action: `${buttonId} clicked`,
            user: firebaseUser ? firebaseUser.displayName : "Anonymous",
            userId: firebaseUser ? firebaseUser.uid : "Anonymous",
            tag: "",
            isDeleted: false,
            timestamp: serverTimestamp(),
        });
    }
</script>

<div class="mainContainer">
    <button
        class="btn btn btn-info btn-xl"
        on:click={() => handleClick("Button 1")}
        on:keydown={() => {}}>Button 1</button
    >

    <button
        class="btn btn btn-info btn-xl"
        on:click={() => handleClick("Button 2")}
        on:keydown={() => {}}>Button 2</button
    >
</div>

<style>
    .mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
    .btn-xl {
        padding: 10px 20px;
        font-size: 30px;
        border-radius: 10px;
    }
</style>
