<script>
    import { onMount } from "svelte";
    import { db, auth } from "../../lib/firebase/firebase";
    import {
        collection,
        onSnapshot,
        query,
        where,
        doc,
        setDoc,
        limit,
        orderBy,
    } from "firebase/firestore";

    let actions = [];
    let sortColumn = "date";
    let sortAsc = true;

    let editRow = null;
    let editData = {};

    const user = auth.currentUser;
    let userId = null;
    if (user) {
        userId = user.uid;
    }

    onMount(() => {
        if (userId) {
            const q = query(
                collection(db, "actions"),
                where("userId", "==", userId),
                where("isDeleted", "==", false),
                orderBy("timestamp", "desc"),
                limit(10)
            );
            onSnapshot(q, (snapshot) => {
                actions = snapshot.docs.map((doc) => ({
                    id: doc.id,
                    ...doc.data(),
                }));
                sortTable();
            });
        } else {
            const q = query(
                collection(db, "actions"),
                where("userId", "==", "Anonymous"),
                where("isDeleted", "==", false),
                orderBy("timestamp", "desc"),
                limit(10)
            );
            onSnapshot(q, (snapshot) => {
                actions = snapshot.docs.map((doc) => ({
                    id: doc.id,
                    ...doc.data(),
                }));
                sortTable();
            });
        }
    });

    function sortTable() {
        actions = actions.sort((a, b) => {
            const aValue = a[sortColumn];
            const bValue = b[sortColumn];

            if (aValue < bValue) {
                return sortAsc ? -1 : 1;
            } else if (aValue > bValue) {
                return sortAsc ? 1 : -1;
            } else {
                return 0;
            }
        });
    }

    function handleClickHeader(column) {
        if (column === sortColumn) {
            sortAsc = !sortAsc;
        } else {
            sortColumn = column;
            sortAsc = true;
        }

        sortTable();
    }
    function downloadCsv() {
        const rows = actions
            .map(
                (action) =>
                    `${action.date},${action.time},${action.action},${action.user}`
            )
            .join("\n");
        const csv = `Date,Time,Action,User ID\n${rows}`;
        const blob = new Blob([csv], { type: "text/csv" });
        const url = URL.createObjectURL(blob);
        const link = document.createElement("a");
        link.href = url;
        link.download = "actions.csv";
        link.click();
    }
    function startEdit(row) {
        editRow = row;
        editData = { ...row };
    }

    async function submitEdit(row) {
        const actionRef = doc(db, "actions", row.id);
        delete editData["id"];
        await setDoc(actionRef, editData);
        editRow = null;
        editData = {};
    }

    async function deleteRow(row) {
        const actionRef = doc(db, "actions", row.id);
        let newData = { ...row, isDeleted: true };
        delete newData["id"];
        await setDoc(actionRef, newData);
    }
</script>

<table class="table table-striped">
    <thead>
        <tr>
            <th on:click={() => handleClickHeader("date")}>
                Date {sortColumn === "date" ? (sortAsc ? "▲" : "▼") : ""}
            </th>
            <th on:click={() => handleClickHeader("time")}>
                Time {sortColumn === "time" ? (sortAsc ? "▲" : "▼") : ""}
            </th>
            <th on:click={() => handleClickHeader("action")}>
                Action {sortColumn === "action" ? (sortAsc ? "▲" : "▼") : ""}
            </th>
            <th on:click={() => handleClickHeader("user")}>
                User ID {sortColumn === "user" ? (sortAsc ? "▲" : "▼") : ""}
            </th>
            <th on:click={() => handleClickHeader("tag")}>
                Tag {sortColumn === "tag" ? (sortAsc ? "▲" : "▼") : ""}
            </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        {#each actions as action}
            <tr>
                {#if editRow === action}
                    <td>{editData.date}</td>
                    <td>{editData.time}</td>
                    <td>{editData.action}</td>
                    <td>{editData.user}</td>
                    <td><input bind:value={editData.tag} /></td>
                    <td>
                        <button
                            class="btn btn-secondary"
                            on:click={submitEdit(editData)}>Save</button
                        >
                        <button
                            class="btn btn-secondary"
                            on:click={() => {
                                editRow = null;
                                editData = {};
                            }}>Cancel</button
                        >
                    </td>
                {:else}
                    <td>{action.date}</td>
                    <td>{action.time}</td>
                    <td>{action.action}</td>
                    <td>{action.user}</td>
                    <td>{action.tag}</td>
                    <td>
                        <button
                            class="btn btn-secondary"
                            on:click={() => startEdit(action)}>Edit</button
                        >
                        <button
                            class="btn btn-secondary"
                            on:click={() => deleteRow(action)}>Delete</button
                        >
                    </td>
                {/if}
            </tr>
        {/each}
    </tbody>
</table>
<button class="btn btn-success" on:click={downloadCsv}>Download CSV</button>
