<script>
    import { onMount } from "svelte";
    import { db, auth } from "../../lib/firebase/firebase";
    import {
        collection,
        onSnapshot,
        query,
        orderBy,
        limit,
    } from "firebase/firestore";
     import { actions } from "../../store/cio.js";


    
    // let actions = [];
    let filteredActions = [];
    let selectedActionType = "";
    let selectedSubjectType = "";
    let selectedTeacherType = "";

    let fromDate = "";
    let toDate = "";

    const user = auth.currentUser;
    let userId = null;
    if (user) {
        userId = user.uid;
    }

    // onMount(() => {
    //     if (userId) {
    //         const q = query(
    //             collection(db, "Click-in-Order1.4")
    //             // orderBy("timestamp", "desc")
    //             // limit(10)
    //         );
    //         onSnapshot(q, (snapshot) => {
    //             actions = snapshot.docs.map((doc) => ({
    //                 id: doc.id,
    //                 ...doc.data(),
    //             }));
    //             applyFilter(); // Apply initial filter
    //             console.log(actions);
    //         });
    //     } else {
    //         const q = query(
    //             collection(db, "Click-in-Order1.4")
    //             // orderBy("timestamp", "desc")
    //             // limit(10)
    //         );
    //         onSnapshot(q, (snapshot) => {
    //             actions = snapshot.docs.map((doc) => ({
    //                 id: doc.id,
    //                 ...doc.data(),
    //             }));
    //             applyFilter(); // Apply initial filter
    //             console.log(actions);
    //         });
    //     }
    // });
    function replacer(str) {
        return str;
    }

    function applyFilter() {
        filteredActions = actions.filter((action) => {
            const isActionTypeMatch =
                selectedActionType === "" ||
                action.action === selectedActionType;
            const isSubjectTypeMach =
                selectedSubjectType === "" ||
                action.subject === selectedSubjectType;
            const isUserTypeMatch =
                selectedTeacherType === "" ||
                action.teacher === selectedTeacherType;
            return isActionTypeMatch && isSubjectTypeMach && isUserTypeMatch;
        });
    }

    const filterByDate = (actions) => {
        if (!fromDate || !toDate) return actions;

        const filteredActions = actions.filter((action) => {
            let [day, month, year] = action.date.split("/");
            const dateObj = new Date(+year, +month - 1, +day);
            const fromDateObj = new Date(fromDate);
            const toDateObj = new Date(toDate);
            console.log(dateObj, fromDateObj, toDateObj);
            return dateObj >= fromDateObj && dateObj <= toDateObj;
        });

        return filteredActions;
    };

    function downloadCsv() {
        const rows = filteredActions
            .map(
                (action) =>
                    `${action.date},${action.time},${action.details},${action.subject},${action.teacher}`
            )
            .join("\n");
        const csv = `Date,Time,Action,Details,Subject,Teacher\n${rows}`;
        const blob = new Blob([csv], { type: "text/csv" });
        const url = URL.createObjectURL(blob);
        const link = document.createElement("a");
        link.href = url;
        link.download = "actions.csv";
        link.click();
    }

    $: {
        if (!fromDate || !toDate) {
        } else {
            filteredActions = filterByDate(actions);
            console.log(filteredActions);
        }
    }
    // console.log(actions);
    applyFilter();
</script>

<div class="filter-container">
    <!-- Selector de fecha "desde" -->
    <label for="fromDate">Filter by Action from Date:</label>
    <input type="date" bind:value={fromDate} />

    <!-- Selector de fecha "hasta" -->
    <label for="toDate">Filter by Action to Date:</label>

    <input type="date" bind:value={toDate} />

    <label for="actionType">Filter by Action Type:</label>
    <select
        id="actionType"
        bind:value={selectedActionType}
        on:change={applyFilter}
    >
        <option value="">All</option>
        {#each Array.from(new Set(actions.map((a) => a.action))) as actionType}
            <option value={actionType}>{actionType}</option>
        {/each}
    </select>

    <label for="subjectType">Filter by Subject:</label>
    <select
        id="subjectType"
        bind:value={selectedSubjectType}
        on:change={applyFilter}
    >
        <option value="">All</option>
        {#each Array.from(new Set(actions.map((a) => a.subject))) as subjectType}
            <option value={subjectType}>{subjectType}</option>
        {/each}
    </select>

    <label for="teacherType">Filter by Teacher:</label>
    <select
        id="teacherType"
        bind:value={selectedTeacherType}
        on:change={applyFilter}
    >
        <option value="">All</option>
        {#each Array.from(new Set(actions.map((a) => a.teacher))) as teacherType}
            <option value={teacherType}>{teacherType}</option>
        {/each}
    </select>
</div>

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
                <th>Details</th>
                <th>Subject</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            {#each filteredActions as action}
                <tr>
                    <td>{action.date}</td>
                    <td>{action.time}</td>
                    <td>{action.action}</td>
                    <td>{replacer(JSON.stringify(action.details))}</td>
                    <td>{action.subject}</td>
                    <td>{action.teacher}</td>
                </tr>
            {/each}
        </tbody>
    </table>
</div>
<button class="btn btn-success" on:click={downloadCsv}>Download CSV</button>

<style>
    .filter-container {
        margin-bottom: 10px;
    }

    .table-container {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
