<script>
    import { onMount } from "svelte";
    let data = undefined;

    let subjects = [];
    let selectedSubject = "";

    const fetchSubjects = async () => {
        try {
            const subjectsResponse = await fetch("/api/statics/subjects/all/");
            if (subjectsResponse.ok) {
                const responseData = await subjectsResponse.json();
                subjects = responseData.subjects;
            } else {
                console.error(
                    "Respuesta no exitosa:",
                    subjectsResponse.statusText,
                );
            }
        } catch (error) {
            console.error("Error al hacer la solicitud de sujetos:", error);
        }
    };

    async function fetchData() {
        const responseFetch = await fetch(
            `/api/bff/what-is-more/?subject=${selectedSubject}`
        );

        if (responseFetch.ok) {
            data = await responseFetch.json();
        } else {
            console.error(
                "Respuesta no exitosa: Correlation Test",
                responseFetch.statusText,
            );
        }
    }

    onMount(() => {
        fetchSubjects();
    });

    $: {
        if (selectedSubject) {
            fetchData();
        }
    }
</script>

<select
    bind:value={selectedSubject}
    class="form-select form-select-lg mb-3"
    aria-label=".form-select-lg example"
>
    <option value="" selected disabled>Seleccione un sujeto</option>
    {#each subjects as subject}
        <option value={subject}>{subject}</option>
    {/each}
</select>

{#if data !== undefined}
    <main>
        <h1>Data Display</h1>

        {#if data.statics.valueCounts !== undefined}
            <section class="card border-secondary mb-3">
                <div class="card-header">Value Counts </div>
                <div class="card-body">
                    <p
                    class="card-text d-flex justify-content-between align-items-center"
                >
                    Total: <span class="badge bg-primary badge-pill"
                        >{data.statics.valueCounts.data.correct+data.statics.valueCounts.data.incorrect}</span
                    >
                </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Correct: <span class="badge bg-primary badge-pill"
                            >{data.statics.valueCounts.data.correct}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Incorrect: <span class="badge bg-primary badge-pill"
                            >{data.statics.valueCounts.data.incorrect}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Percentage Correct: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.valueCounts.percentage
                                .correct}%</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Percentage Incorrect: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.valueCounts.percentage
                                .incorrect}%</span
                        >
                    </p>
                </div>
            </section>
        {/if}

        {#if data.statics.binomialTest !== undefined}
            <section class="card border-secondary mb-3">
                <div class="card-header">Binomial Test</div>
                <div class="card-body">
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        pValue: <span class="badge bg-primary badge-pill"
                            >{data.statics.binomialTest.pValue}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Existe Preferencia: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.binomialTest.existePreferencia
                                ? "Yes"
                                : "No"}</span
                        >
                    </p>
                </div>
            </section>
        {/if}

        {#if data.statics.contigencyTable !== undefined}
            <section class="card border-secondary mb-3">
                <div class="card-header">Contingency Table</div>
                <div class="card-body">
                    {#if data.statics.contigencyTable.True !== undefined}
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        True - Right: <span class="badge bg-primary badge-pill"
                            >{data.statics.contigencyTable.True.right ||
                                0}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        True - Left: <span class="badge bg-primary badge-pill"
                            >{data.statics.contigencyTable.True.left || 0}</span
                        >
                    </p>
                    {/if}
                    {#if data.statics.contigencyTable.False}

                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        False - Right: <span class="badge bg-primary badge-pill"
                            >{data.statics.contigencyTable.False.right ||
                                0}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        False - Left: <span class="badge bg-primary badge-pill"
                            >{data.statics.contigencyTable.False.left ||
                                0}</span
                        >
                    </p>
                    {/if}
                    {#if data.statics.contigencyTable.True.unknown}
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        True - Unknown: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.contigencyTable.True.unknown ||
                                0}</span
                        >
                    </p>
                    {/if}
                    {#if data.statics.contigencyTable.False.unknown}

                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        False - Unknown: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.contigencyTable.False.unknown ||
                                0}</span
                        >
                    </p>
                    {/if}
                </div>
            </section>
        {/if}

        {#if data.statics.chiSquaredSideBias !== undefined}
            <section class="card border-secondary mb-3">
                <div class="card-header">Chi-Squared Side Bias</div>
                <div class="card-body">
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Chi-Squared: <span class="badge bg-primary badge-pill"
                            >{data.statics.chiSquaredSideBias.chiSquared}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        pValue: <span class="badge bg-primary badge-pill"
                            >{data.statics.chiSquaredSideBias.pValue}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Degrees of Freedom: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.chiSquaredSideBias
                                .degreesOfFreedom}</span
                        >
                    </p>
                    <p
                        class="card-text d-flex justify-content-between align-items-center"
                    >
                        Existe Preferencia: <span
                            class="badge bg-primary badge-pill"
                            >{data.statics.chiSquaredSideBias.existePreferencia
                                ? "Yes"
                                : "No"}</span
                        >
                    </p>
                </div>
            </section>
        {/if}

        {#if data.statics.correlationTest !== undefined}
            <section>
                <h2>Correlation Test</h2>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Value 1</th>
                            <th>Value 2</th>
                            <th>Total</th>
                            <th>Difference</th>
                            <th>Ratio</th>
                            <th>Accuracy</th>
                            <th>Total Experiments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#each data.statics.correlationTest as test}
                            <tr>
                                <td>{test["Value 1"]}</td>
                                <td>{test["Value 2"]}</td>
                                <td>{test.Total}</td>
                                <td>{test.Difference}</td>
                                <td>{test.Ratio}</td>
                                <td>{test.Accuracy}%</td>
                                <td>{test["Total Experiments"]}</td>
                            </tr>
                        {/each}
                    </tbody>
                </table>
            </section>
        {/if}
    </main>
{/if}

<style>
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    section {
        margin-bottom: 20px;
    }
</style>
