<script>
    import { onMount } from "svelte";
    import { onAuthStateChanged } from "firebase/auth";
    import {
        getDoc,
        doc,
        collection,
        query,
        where,
        onSnapshot,
        updateDoc,
    } from "firebase/firestore";
    import { db, auth } from "../../lib/firebase/firebase";

    let currentUser;
    let profile;
    let authorized = false;
    let users = [];

    onMount(() => {
        onAuthStateChanged(auth, async (user) => {
            if (user) {
                currentUser = user;
                const profileRef = doc(db, "users", currentUser.uid);
                const docSnap = await getDoc(profileRef);
                profile = docSnap.data();
                if (profile.role !== "admin") {
                    console.log("unauthorized");
                } else {
                    const q = query(collection(db, "users"));
                    onSnapshot(q, (snapshot) => {
                        users = snapshot.docs.map((doc) => ({
                            id: doc.id,
                            ...doc.data(),
                        }));
                        authorized = true;
                    });
                }
            } else {
                console.log("no hay inicio de sesion");
                authorized = false;
            }
        });
    });

    async function updateRole(user, role) {
        const userRef = doc(db, "users", user.id);
        await updateDoc(userRef, { role });
    }
</script>

{#if authorized}
    <h1>Administración de Usuarios</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {#each users as user}
                <tr>
                    <td>{user.name}</td>
                    <td>{user.email}</td>
                    <td>
                        <select
                            value={user.role}
                            on:change={() =>
                                updateRole(user, event.target.value)}
                        >
                            <option value="user">Usuario</option>
                            <option value="admin">Administrador</option>
                            <option value="researcher">Investigador</option>
                        </select>
                    </td>
                    <td />
                </tr>
            {/each}
        </tbody>
    </table>
{:else}
    <h1>No autorizado</h1>
    <p>
        Esta página solo es accesible para los usuarios con el rol de
        administrador.
    </p>
{/if}
