<script>
    import { onMount } from "svelte";
    let response = null;
    let chiSquared = null;
    import ModeSelected from "../components/ModeSelected.svelte";

    let subjects = []; // Variable reactiva para almacenar los sujetos disponibles
    let selectedSubject = "";

    const fetchSubjects = async () => {
        try {
            const subjectsResponse = await fetch("/api/statics/subjects/all/");
            if (subjectsResponse.ok) {
                const data = await subjectsResponse.json();
                subjects = data.subjects; // Almacena los sujetos en la variable subjects
            } else {
                console.error(
                    "Respuesta no exitosa:",
                    subjectsResponse.statusText
                );
            }
        } catch (error) {
            console.error("Error al hacer la solicitud de sujetos:", error);
        }
    };

    const fetchData = async () => {
        try {
            const responseFetch = await fetch(
                `/api/statics/mode-selected/?subject=${selectedSubject}`
            );

            if (responseFetch.ok) {
                response = await responseFetch.json();

                const chiSquaredResponse = await fetch(
                    "/api/statics/chi-squared",
                    {
                        method: "POST",
                        body: JSON.stringify(response),
                        headers: {
                            "Content-Type": "application/json",
                        },
                    }
                );

                if (chiSquaredResponse.ok) {
                    chiSquared = await chiSquaredResponse.json();
                } else {
                    console.error(
                        "Respuesta no exitosa:",
                        chiSquaredResponse.statusText
                    );
                }
            } else {
                console.error(
                    "Respuesta no exitosa:",
                    responseFetch.statusText
                );
            }
        } catch (error) {
            console.error("Error al hacer la solicitud:", error);
        }
    };

    // Llama a fetchSubjects() cuando se monta el componente
    onMount(() => {
        fetchSubjects();
    });

    // Llama a fetchData() cuando selectedSubject cambia
    $: {
        if (selectedSubject) {
            fetchData();
        }
    }
</script>

<select bind:value={selectedSubject} class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option value="" selected disabled>Seleccione un sujeto</option>
    {#each subjects as subject}
        <option value={subject}>{subject}</option>
    {/each}
</select>

{#if response !== null && chiSquared !== null}
    <div class="container">
        <div class="analysis-container inline-block">
            <div>
                <h2>Cantidad de selecciones de modo</h2>
                <dl class="row">
                    <dt class="col-sm-3">Dice</dt>
                    <dd class="col-sm-9">{response.data.dice}</dd>
                    <dt class="col-sm-3">Rect</dt>
                    <dd class="col-sm-9">{response.data.rect}</dd>
                    <dt class="col-sm-3">Heap</dt>
                    <dd class="col-sm-9">{response.data.heap}</dd>
                    <dt class="col-sm-3">Disc</dt>
                    <dd class="col-sm-9">{response.data.disc}</dd>
                </dl>
            </div>
        </div>

        <div class="analysis-container inline-block">
            <div>
                <h2>Porcentajes de selecciones de modo</h2>
                <dl class="row">
                    <dt class="col-sm-3">Dice</dt>
                    <dd class="col-sm-9">{response.percentage.dice} %</dd>
                    <dt class="col-sm-3">Rect</dt>
                    <dd class="col-sm-9">{response.percentage.rect} %</dd>
                    <dt class="col-sm-3">Heap</dt>
                    <dd class="col-sm-9">{response.percentage.heap} %</dd>
                    <dt class="col-sm-3">Disc</dt>
                    <dd class="col-sm-9">{response.percentage.disc} %</dd>
                </dl>
            </div>
        </div>

        <div class="analysis-container inline-block">
            <div>
                <h2>Resultados Test Chi-Cuadrado</h2>
                <dl class="row">
                    <dt class="col-sm-3">Valor Chi-Cuadrado</dt>
                    <dd class="col-sm-9">{chiSquared.chiSquare}</dd>
                    <dt class="col-sm-3">Valor P</dt>
                    <dd class="col-sm-9">{chiSquared.pValue}</dd>
                    <dt class="col-sm-3">Grados de libertad</dt>
                    <dd class="col-sm-9">{chiSquared.degreesOfFreedom}</dd>
                </dl>
            </div>
        </div>
    </div>

    {#if chiSquared.existePreferencia}
        <h5>
            Existe preferencia significativa entre los modos de juego, los datos
            sugieren que al menos uno de los modos de juego se elige con más
            frecuencia que los demás.
        </h5>
    {:else}
        <h5>
            No hay preferencia significativa entre los modos de juego, los datos
            no sugieren que al menos uno de los modos de juego se elige con más
            frecuencia que los demás.
        </h5>
    {/if}
    <ModeSelected {response} />
{/if}

<style>
    .container {
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
    }

    .inline-block {
        display: inline-block;
        vertical-align: top;
    }

    /* Estilos adicionales según sea necesario */
    .analysis-container {
        margin-right: 20px; /* Espacio entre los dos divs */
    }
</style>
