<script>
    import { onMount } from "svelte";
    import { onAuthStateChanged } from "firebase/auth";
    import {
        getDoc,
        doc,
        collection,
        query,
        where,
        onSnapshot,
    } from "firebase/firestore";
    import { db, auth } from "../../lib/firebase/firebase";

    let currentUser;
    let profile;
    let authorized = false;
    let actions = [];

    onMount(() => {
        onAuthStateChanged(auth, async (user) => {
            if (user) {
                currentUser = user;
                const profileRef = doc(db, "users", currentUser.uid);
                const docSnap = await getDoc(profileRef);
                profile = docSnap.data();
                if (profile.role !== "researcher" && profile.role !== "admin") {
                    console.log("unauthorized");
                } else {
                    const q = query(
                        collection(db, "actions"),
                        where("isDeleted", "==", false)
                    );
                    onSnapshot(q, (snapshot) => {
                        actions = snapshot.docs.map((doc) => ({
                            id: doc.id,
                            ...doc.data(),
                        }));
                        authorized = true;
                        console.log(actions);
                    });
                }
            } else {
                console.log("no hay inicio de sesion");
                authorized = false;
            }
        });
    });
</script>

{#if authorized}
    <h1>Statics</h1>
{:else}
    <h1>No autorizado</h1>
    <p>
        Esta página solo es accesible para los usuarios con el rol de
        investigador.
    </p>
{/if}
