<script>
    import Charts from "./Charts.svelte";
    import { onMount } from "svelte";

    export let actions;
    let fromDate = "";
    let toDate = "";
    let selectedUser = "";

    let charts;
    onMount(() => {
        charts = new Charts({
            target: document.querySelector("div.charts-container"),
            props: {
                button1Clicks,
                button2Clicks,
            },
        });
    });

    const users = actions
        .map((action) => ({ user: action.user, userId: action.userId }))
        .filter(
            (value, index, self) =>
                self.findIndex((item) => item.userId === value.userId) === index
        );
    const numUsers = users.length;

    const filterByDate = (actions) => {
        if (!fromDate || !toDate) return actions;

        const filteredActions = actions.filter((action) => {
            const actionTimestamp = action.timestamp.toDate();
            const fromDateObj = new Date(fromDate);
            const toDateObj = new Date(toDate);
            return (
                actionTimestamp >= fromDateObj &&
                actionTimestamp <= toDateObj.setDate(toDateObj.getDate() + 1)
            );
        });

        return filteredActions;
    };

    let button1Clicks = 0;
    let button2Clicks = 0;

    $: {
        if (!fromDate || !toDate) {
            button1Clicks = actions.filter(
                (action) => action.action === "Button 1 clicked"
            ).length;
            button2Clicks = actions.filter(
                (action) => action.action === "Button 2 clicked"
            ).length;
        } else {
            let filteredActions = filterByDate(actions);
            console.log(filteredActions);
            console.log(filteredActions);
            if (selectedUser) {
                console.log("Usuario seleccionado", selectedUser);
                filteredActions = filteredActions.filter(
                    (action) => action.userId === selectedUser
                );
            }

            button1Clicks = filteredActions.filter(
                (action) => action.action === "Button 1 clicked"
            ).length;
            button2Clicks = filteredActions.filter(
                (action) => action.action === "Button 2 clicked"
            ).length;
        }
    }
    $: {
        if (selectedUser && (!fromDate || !toDate)) {
            button1Clicks = actions.filter(
                (action) =>
                    action.action === "Button 1 clicked" &&
                    action.userId === selectedUser
            ).length;
            button2Clicks = actions.filter(
                (action) =>
                    action.action === "Button 2 clicked" &&
                    action.userId === selectedUser
            ).length;
        }
    }
    $: {
        if (charts) {
            console.log(button1Clicks, button2Clicks);
            charts.$set({
                button1Clicks,
                button2Clicks,
            });
        }
    }
</script>

<div>
    <div class="selectors">
        <div class="dateSelector">
            <!-- Selector de fecha "desde" -->
            <input type="date" bind:value={fromDate} />

            <!-- Selector de fecha "hasta" -->
            <input type="date" bind:value={toDate} />
        </div>

        <div class="userSelector">
            <p class="user">User:</p>
            <select bind:value={selectedUser} class="selector">
                {#each users as user}
                    <option value={user.userId}>{user.user}</option>
                {/each}
            </select>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Button</th>
                <th>Number of Clicks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Button 1 clicked</td>
                <td>{button1Clicks} times</td>
            </tr>
            <tr>
                <td>Button 2 clicked</td>
                <td>{button2Clicks} times</td>
            </tr>
            <tr>
                <td>Diferent Users</td>
                <td>{numUsers}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <div class="charts-container" />
</div>

<style>
    .selectors {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .dateSelector {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }
    .userSelector {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }
    .user {
        margin-right: 1rem;
    }
    .selector {
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
</style>
