<script>
    export let button1Clicks, button2Clicks;
    import { Bar, Pie } from "svelte-chartjs";
    import Chart from "chart.js/auto";

    $: console.log("charts", button1Clicks, button2Clicks);

    const data = {
        labels: ["Button 1", "Button 2"],
        datasets: [
            {
                label: "Number of Clicks",
                data: [button1Clicks, button2Clicks],
                backgroundColor: ["#FF6384", "#36A2EB"],
                borderWidth: 1,
            },
        ],
    };

    const options = {
        scales: {
            y: {
                type: "linear",
                beginAtZero: true,
            },
        },
    };

    const pieData = {
        labels: ["Button 1", "Button 2"],
        datasets: [
            {
                data: [button1Clicks, button2Clicks],
                backgroundColor: ["#FF6384", "#36A2EB"],
                hoverBackgroundColor: ["#FF6384", "#36A2EB"],
            },
        ],
    };

    $: data.datasets[0].data = [button1Clicks, button2Clicks];
    $: pieData.datasets[0].data = [button1Clicks, button2Clicks];
</script>

<div class="chart-container">
    <div class="chart">
        <h2>Bar Chart</h2>
        <Bar {data} {options} />
    </div>
    <div class="chart">
        <h2>Pie Chart</h2>
        <Pie {data} {pieData} />
    </div>
</div>

<style>
    .chart-container {
        display: flex;
        flex-wrap: wrap;
    }

    .chart {
        width: 50%;
    }
</style>
