<script>
    export let users = [];
    export let selectedUser = "";
    export const handleChange = (event) => {
        selectedUser = event.target.value;
    };
</script>

<select on:change={handleChange}>
    <option value="">Seleccionar usuario</option>
    {#each users as user}
        <option value={user}>{user}</option>
    {/each}
</select>
