<script>
    import { auth } from "../../lib/firebase/firebase";
    import {
        onAuthStateChanged,
        GoogleAuthProvider,
        signInWithPopup,
        signOut,
    } from "firebase/auth";
    import { db } from "../../lib/firebase/firebase";
    import { doc, getDoc, setDoc } from "firebase/firestore";

    let firebaseUser = null;

    onAuthStateChanged(auth, (user) => {
        firebaseUser = user;
    });

    async function login() {
        const provider = new GoogleAuthProvider();
        try {
            const result = await signInWithPopup(auth, provider);
            const user = result.user;
            console.log(user);
            const userRef = doc(db, "users", user.uid);
            const document = await getDoc(userRef);
            if (!document.exists()) {
                await setDoc(userRef, {
                    name: user.displayName,
                    role: "usuario",
                    email: user.email,
                });
            }
        } catch (error) {
            console.log("Error signing in:", error);
        }
    }

    function logout() {
        signOut(auth);
    }
</script>

<div>
    {#if firebaseUser}
        <button on:click={logout} class="btn btn-primary">Logout</button>
    {:else}
        <button on:click={login} class="btn btn-secondary"
            >Login with Google</button
        >
    {/if}
</div>
