<script>
    import Charts from "./ModeSelectedChart.svelte";
    import { onMount, afterUpdate } from "svelte";

    export let response;

    let charts;

    onMount(() => {
        initializeCharts();
    });

    afterUpdate(() => {
        updateCharts();
    });

    function initializeCharts() {
        const { dice, heap, rect, disc } = response.data;
        
        charts = new Charts({
            target: document.querySelector("div.charts-container"),
            props: {
                dice,
                heap,
                rect,
                disc,
            },
        });
    }

    function updateCharts() {
        if (charts) {
            const { dice, heap, rect, disc } = response.data;

            charts.$set({
                dice,
                heap,
                rect,
                disc,
            });
        }
    }
</script>

<div>
    <div class="charts-container" />
</div>
