<script>
    export let dice, rect, heap, disc;
    import { Bar, Pie } from "svelte-chartjs";
    import Chart from "chart.js/auto";

    $: console.log("charts", dice, rect, heap, disc);

    const data = {
        labels: ["Dice", "Rect", "Heap", "Disc"],
        datasets: [
            {
                label: "Veces Escogido",
                data: [dice, rect, heap, disc],
                backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#33FF77"],
                borderWidth: 1,
            },
        ],
    };

    const options = {
        scales: {
            y: {
                type: "linear",
                beginAtZero: true,
            },
        },
    };

    const pieData = {
        labels: ["Dice", "Rect", "Heap", "Disc"],
        datasets: [
            {
                data: [dice, rect, heap, disc],
                backgroundColor: ["#FF6384", "#36A2EB"],
                hoverBackgroundColor: ["#FF6384", "#36A2EB"],
            },
        ],
    };

    $: data.datasets[0].data = [dice, rect, heap, disc];
    $: pieData.datasets[0].data = [dice, rect, heap, disc];
</script>

<div class="chart-container">
    <div class="chart">
        <h2>Bar Chart</h2>
        <Bar {data} {options} />
    </div>
    <div class="chart">
        <h2>Pie Chart</h2>
        <Pie {data} {pieData} />
    </div>
</div>

<style>
    .chart-container {
        display: flex;
        flex-wrap: wrap;
    }

    .chart {
        width: 50%;
    }
</style>
